 * {
    box-sizing: border-box;
 }

 img {
   max-width: 100%;
   height: auto;
 }

 nav {
   color: #EBB18F;	
	background: #4C220A;
 }

 body {
   color: #EBB18F;
   font-family: Helvetica;
    background: #AE6B43;
 }

 h1 {
    color: #EBB18F;
 }

 .navigation__menu {    
    display: flex;
    justify-content: space-between;
 }

 nav > ul > li {
    list-style: none;
 }

 nav a {
   color: #EBB18F;
   text-decoration: none;
   display: inline-block;
 }


 nav a:hover, nav a:active, nav a:focus {
   color: black;
 }

 main {
   border-top: 0.1rem solid #4C220A;    
 } 

 .content {
   display: flex;
   flex: wrap;
   justify-content: flex-start;
 }